--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it




--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: RolUsuario; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."RolUsuario" AS ENUM (
    'ADMIN',
    'CLIENTE'
);



--
-- Name: TipoMovimiento; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TipoMovimiento" AS ENUM (
    'INGRESO',
    'EGRESO'
);



SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);



--
-- Name: Carrito; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Carrito" (
    id integer NOT NULL,
    "usuarioId" text NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);



--
-- Name: CarritoItem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."CarritoItem" (
    id integer NOT NULL,
    "carritoId" integer NOT NULL,
    "productoId" integer NOT NULL,
    cantidad integer NOT NULL
);



--
-- Name: CarritoItem_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."CarritoItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: CarritoItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."CarritoItem_id_seq" OWNED BY public."CarritoItem".id;


--
-- Name: Carrito_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Carrito_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: Carrito_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Carrito_id_seq" OWNED BY public."Carrito".id;


--
-- Name: Categoria; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Categoria" (
    id integer NOT NULL,
    nombre text NOT NULL
);



--
-- Name: Categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Categoria_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Categoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Categoria_id_seq" OWNED BY public."Categoria".id;


--
-- Name: CuponDescuento; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."CuponDescuento" (
    id integer NOT NULL,
    codigo text NOT NULL,
    descripcion text,
    porcentaje double precision NOT NULL,
    "validoHasta" timestamp(3) without time zone NOT NULL
);



--
-- Name: CuponDescuento_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."CuponDescuento_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: CuponDescuento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."CuponDescuento_id_seq" OWNED BY public."CuponDescuento".id;


--
-- Name: Direccion; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Direccion" (
    id integer NOT NULL,
    "usuarioId" text NOT NULL,
    calle text NOT NULL,
    ciudad text NOT NULL,
    provincia text NOT NULL,
    "codigoPostal" text NOT NULL,
    pais text NOT NULL,
    principal boolean DEFAULT false NOT NULL
);



--
-- Name: Direccion_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Direccion_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: Direccion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Direccion_id_seq" OWNED BY public."Direccion".id;


--
-- Name: EstadoPedido; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."EstadoPedido" (
    id integer NOT NULL,
    nombre text NOT NULL
);



--
-- Name: EstadoPedido_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."EstadoPedido_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: EstadoPedido_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."EstadoPedido_id_seq" OWNED BY public."EstadoPedido".id;


--
-- Name: ImagenProducto; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."ImagenProducto" (
    id integer NOT NULL,
    url text NOT NULL,
    "productoId" integer NOT NULL,
    "publicId" text NOT NULL
);



--
-- Name: ImagenProducto_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."ImagenProducto_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: ImagenProducto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."ImagenProducto_id_seq" OWNED BY public."ImagenProducto".id;


--
-- Name: Marca; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Marca" (
    id integer NOT NULL,
    nombre text NOT NULL
);



--
-- Name: Marca_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Marca_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: Marca_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Marca_id_seq" OWNED BY public."Marca".id;


--
-- Name: MovimientoFinanciero; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."MovimientoFinanciero" (
    id integer NOT NULL,
    fecha timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    tipo public."TipoMovimiento" NOT NULL,
    monto double precision NOT NULL,
    descripcion text NOT NULL
);



--
-- Name: MovimientoFinanciero_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."MovimientoFinanciero_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: MovimientoFinanciero_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."MovimientoFinanciero_id_seq" OWNED BY public."MovimientoFinanciero".id;


--
-- Name: Producto; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Producto" (
    id integer NOT NULL,
    nombre text NOT NULL,
    descripcion text NOT NULL,
    precio double precision NOT NULL,
    stock integer NOT NULL,
    "categoriaId" integer NOT NULL,
    "marcaId" integer NOT NULL,
    "promocionId" integer,
    slug text NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);



--
-- Name: Producto_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Producto_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: Producto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Producto_id_seq" OWNED BY public."Producto".id;


--
-- Name: Promocion; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Promocion" (
    id integer NOT NULL,
    descripcion text NOT NULL,
    descuento double precision NOT NULL
);



--
-- Name: Promocion_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Promocion_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;




--
-- Name: Promocion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Promocion_id_seq" OWNED BY public."Promocion".id;


--
-- Name: Session; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);



--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text,
    rol public."RolUsuario" DEFAULT 'CLIENTE'::public."RolUsuario" NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    image text,
    name text NOT NULL
);




--
-- Name: Venta; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Venta" (
    id integer NOT NULL,
    "usuarioId" text NOT NULL,
    fecha timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    total double precision NOT NULL,
    "estadoId" integer NOT NULL,
    "cuponId" integer
);



--
-- Name: VentaProducto; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."VentaProducto" (
    id integer NOT NULL,
    "ventaId" integer NOT NULL,
    "productoId" integer NOT NULL,
    cantidad integer NOT NULL,
    "precioUnitario" double precision NOT NULL
);




--
-- Name: VentaProducto_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."VentaProducto_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;




--
-- Name: VentaProducto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."VentaProducto_id_seq" OWNED BY public."VentaProducto".id;


--
-- Name: Venta_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Venta_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;




--
-- Name: Venta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Venta_id_seq" OWNED BY public."Venta".id;


--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);




--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);




--
-- Name: Carrito id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Carrito" ALTER COLUMN id SET DEFAULT nextval('public."Carrito_id_seq"'::regclass);


--
-- Name: CarritoItem id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CarritoItem" ALTER COLUMN id SET DEFAULT nextval('public."CarritoItem_id_seq"'::regclass);


--
-- Name: Categoria id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Categoria" ALTER COLUMN id SET DEFAULT nextval('public."Categoria_id_seq"'::regclass);


--
-- Name: CuponDescuento id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CuponDescuento" ALTER COLUMN id SET DEFAULT nextval('public."CuponDescuento_id_seq"'::regclass);


--
-- Name: Direccion id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Direccion" ALTER COLUMN id SET DEFAULT nextval('public."Direccion_id_seq"'::regclass);


--
-- Name: EstadoPedido id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EstadoPedido" ALTER COLUMN id SET DEFAULT nextval('public."EstadoPedido_id_seq"'::regclass);


--
-- Name: ImagenProducto id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ImagenProducto" ALTER COLUMN id SET DEFAULT nextval('public."ImagenProducto_id_seq"'::regclass);


--
-- Name: Marca id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Marca" ALTER COLUMN id SET DEFAULT nextval('public."Marca_id_seq"'::regclass);


--
-- Name: MovimientoFinanciero id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."MovimientoFinanciero" ALTER COLUMN id SET DEFAULT nextval('public."MovimientoFinanciero_id_seq"'::regclass);


--
-- Name: Producto id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Producto" ALTER COLUMN id SET DEFAULT nextval('public."Producto_id_seq"'::regclass);


--
-- Name: Promocion id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Promocion" ALTER COLUMN id SET DEFAULT nextval('public."Promocion_id_seq"'::regclass);


--
-- Name: Venta id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Venta" ALTER COLUMN id SET DEFAULT nextval('public."Venta_id_seq"'::regclass);


--
-- Name: VentaProducto id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."VentaProducto" ALTER COLUMN id SET DEFAULT nextval('public."VentaProducto_id_seq"'::regclass);


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: CarritoItem CarritoItem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CarritoItem"
    ADD CONSTRAINT "CarritoItem_pkey" PRIMARY KEY (id);


--
-- Name: Carrito Carrito_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Carrito"
    ADD CONSTRAINT "Carrito_pkey" PRIMARY KEY (id);


--
-- Name: Categoria Categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Categoria"
    ADD CONSTRAINT "Categoria_pkey" PRIMARY KEY (id);


--
-- Name: CuponDescuento CuponDescuento_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CuponDescuento"
    ADD CONSTRAINT "CuponDescuento_pkey" PRIMARY KEY (id);


--
-- Name: Direccion Direccion_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Direccion"
    ADD CONSTRAINT "Direccion_pkey" PRIMARY KEY (id);


--
-- Name: EstadoPedido EstadoPedido_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EstadoPedido"
    ADD CONSTRAINT "EstadoPedido_pkey" PRIMARY KEY (id);


--
-- Name: ImagenProducto ImagenProducto_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ImagenProducto"
    ADD CONSTRAINT "ImagenProducto_pkey" PRIMARY KEY (id);


--
-- Name: Marca Marca_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Marca"
    ADD CONSTRAINT "Marca_pkey" PRIMARY KEY (id);


--
-- Name: MovimientoFinanciero MovimientoFinanciero_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."MovimientoFinanciero"
    ADD CONSTRAINT "MovimientoFinanciero_pkey" PRIMARY KEY (id);


--
-- Name: Producto Producto_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Producto"
    ADD CONSTRAINT "Producto_pkey" PRIMARY KEY (id);


--
-- Name: Promocion Promocion_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Promocion"
    ADD CONSTRAINT "Promocion_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VentaProducto VentaProducto_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."VentaProducto"
    ADD CONSTRAINT "VentaProducto_pkey" PRIMARY KEY (id);


--
-- Name: Venta Venta_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Venta"
    ADD CONSTRAINT "Venta_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Carrito_usuarioId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Carrito_usuarioId_key" ON public."Carrito" USING btree ("usuarioId");


--
-- Name: Categoria_nombre_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Categoria_nombre_key" ON public."Categoria" USING btree (nombre);


--
-- Name: CuponDescuento_codigo_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "CuponDescuento_codigo_key" ON public."CuponDescuento" USING btree (codigo);


--
-- Name: Marca_nombre_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Marca_nombre_key" ON public."Marca" USING btree (nombre);


--
-- Name: Producto_slug_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Producto_slug_key" ON public."Producto" USING btree (slug);


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CarritoItem CarritoItem_carritoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CarritoItem"
    ADD CONSTRAINT "CarritoItem_carritoId_fkey" FOREIGN KEY ("carritoId") REFERENCES public."Carrito"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CarritoItem CarritoItem_productoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CarritoItem"
    ADD CONSTRAINT "CarritoItem_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES public."Producto"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Carrito Carrito_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Carrito"
    ADD CONSTRAINT "Carrito_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Direccion Direccion_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Direccion"
    ADD CONSTRAINT "Direccion_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ImagenProducto ImagenProducto_productoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ImagenProducto"
    ADD CONSTRAINT "ImagenProducto_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES public."Producto"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Producto Producto_categoriaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Producto"
    ADD CONSTRAINT "Producto_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES public."Categoria"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Producto Producto_marcaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Producto"
    ADD CONSTRAINT "Producto_marcaId_fkey" FOREIGN KEY ("marcaId") REFERENCES public."Marca"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Producto Producto_promocionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Producto"
    ADD CONSTRAINT "Producto_promocionId_fkey" FOREIGN KEY ("promocionId") REFERENCES public."Promocion"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: VentaProducto VentaProducto_productoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."VentaProducto"
    ADD CONSTRAINT "VentaProducto_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES public."Producto"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: VentaProducto VentaProducto_ventaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."VentaProducto"
    ADD CONSTRAINT "VentaProducto_ventaId_fkey" FOREIGN KEY ("ventaId") REFERENCES public."Venta"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Venta Venta_cuponId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Venta"
    ADD CONSTRAINT "Venta_cuponId_fkey" FOREIGN KEY ("cuponId") REFERENCES public."CuponDescuento"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Venta Venta_estadoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Venta"
    ADD CONSTRAINT "Venta_estadoId_fkey" FOREIGN KEY ("estadoId") REFERENCES public."EstadoPedido"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Venta Venta_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Venta"
    ADD CONSTRAINT "Venta_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

